Django==1.8.3
paramiko==2.0.2
python-jenkins==0.4.13
ansible==1.9.6
celery==3.1.17
django-celery==3.1.17
django-grappelli==2.9.1
djangorestframework==3.5.2
django-filter==0.15.3
Markdown==2.6.7
graphic-verification-code==1.0.1
gunicorn