<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/static/dist/img/icon.png" mce_href="/static/dist/img/icon.png" type="image/x-icon" />
  <title>{% block titel %}ACLSM-配置管理系统{% endblock %}</title>
  <!-- Bootstrap Core CSS -->
  <link href="/static/scms/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!-- MetisMenu CSS -->
  <link href="/static/scms/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/static/scms/dist/css/sb-admin-2.css" rel="stylesheet" />
  <!-- Morris Charts CSS -->
  <link href="/static/scms/vendor/morrisjs/morris.css" rel="stylesheet" />
  <!-- Custom Fonts -->
  <link href="/static/scms/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
   {% block link %}{% endblock %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <div id="wrapper">
   <!-- Navigation -->
   <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
     <a class="navbar-brand" href="/scms/index/" style="color: #000000;"><img style="height: 30px;margin: 0 10px 0 10px;padding-bottom:5px;float: left;" src="/static/dist/img/index.png" />ACLSM-配置管理系统</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
     <!-- /.dropdown -->
     <li class="dropdown">
      <div class="tooltip-demo">
       <a href="/scms/help/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="系统说明书"> <i class="fa fa-exclamation fa-fw"></i> </a>
      </div>
      <!-- /.dropdown-user --> </li>
     <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
      <ul class="dropdown-menu dropdown-user">
       <li class="divider"></li>
       <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> 退出系统</a> </li>
      </ul>
      </li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
     <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
       <li> <a href="/scms/index/"><i class="fa fa-dashboard fa-fw"></i> 图表页</a> </li>
       <li> <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 配置推送<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
         <li> <a href="/scms/nginxpush/">nginx 配置文件</a> </li>
         <li> <a href="/scms/tomcatpush/">tomcat 配置文件</a> </li>
         <li> <a href="/scms/nginxinstall/">nginx 安装</a> </li>
         <li> <a href="/scms/tomcatinstall/">tomcat 安装</a> </li>
        </ul>
       </li>
       <li> <a href="/scms/cmdrun/"><i class="fa fa-edit fa-fw"></i> 执行命令</a> </li>
       <li> <a href="/scms/roles/"><i class="fa fa-video-camera fa-fw"></i> playbook执行</a> </li>
       <li> <a href="/scms/tables/"><i class="fa fa-play fa-fw"></i> 任务列表</a> </li>
       <li> <a href="#"><i class="fa fa-wrench fa-fw"></i> 系统配置<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
         <li> <a href="/scms/pcmanager/">机器管理</a> </li>
         <li> <a href="/scms/groupmodify/">编组管理</a> </li>
         <li> <a href="/scms/confile/">配置文件管理</a> </li>
         <li> <a href="/scms/playbook/">Playbook(roles)</a> </li>
         <li> <a href="/scms/page/">软件包管理</a> </li>
        </ul>
       </li>
       <li> <a href="/index/"><i class="fa  fa-mail-reply-all fa-fw"></i> 返回主页</a> </li>
      </ul>
     </div>
     <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
   </nav>
   <div id="page-wrapper">
       {% block body %}{% endblock %}
    <button id="scroll-top" class="btn in"><i class="fa fa-chevron-up"></i></button>
   </div>
   <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- jQuery -->
  <script src="/static/scms/vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/static/scms/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Metis Menu Plugin JavaScript -->
  <script src="/static/scms/vendor/metisMenu/metisMenu.min.js"></script>
  <!-- Morris Charts JavaScript -->
  <script src="/static/scms/vendor/raphael/raphael.min.js"></script>
  <script src="/static/scms/vendor/morrisjs/morris.min.js"></script>
  <script src="/static/scms/data/morris-data.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="/static/scms/dist/js/sb-admin-2.js"></script>
  <script>
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    $("[data-toggle=popover]")
        .popover()
    </script> {% block javascript %}{% endblock %}
 </body>
</html>