<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/scms/dist/img/icon.png" mce_href="/static/dist/img/icon.png" type="image/x-icon">

    <title>Aclsm-配置管理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/scms/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/scms/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/scms/dist/css/sb-admin-2.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    	.h2s {
	text-align:center;
	padding-bottom: 10px;
}
    </style>

</head>

<body>

    <div class="help row">
    	<div class="col-md-12 h2s" >
    		<h2>欢迎使用Aclsm配置管理系统</h2>
    	</div>
    	<div class="h2s">
    	<h4><span class="glyphicon glyphicon-asterisk" style="color: red;"></span> 第一步:新建组</h4></div>
    	
    	<div class="col-md-12 h2s">
    		<img src="/static/scms/dist/img/help/group.jpg"/>
    	</div>
    	<div class="h2s">
    		<h4><span class="glyphicon glyphicon-asterisk" style="color: red;"></span> 第二步:新建机器并设置组</h4>
    	</div>
    	
    	<div class="col-md-12 h2s">
    		<img src="/static/scms/dist/img/help/dev.jpg"/>
    	</div>
    	<div class="h2s">
    		<h4>机器添加完成后请点击<img src="/static/scms/dist/img/help/shengcheng.jpg" /></h4>
    	</div>
    	<div class="h2s">
    		<h4><span class="glyphicon glyphicon-asterisk" style="color: red;"></span> 第三步:新建配置文件及上传软件包</h4>
    	</div>
    	
    	<div class="col-md-12 h2s">
    		<img src="/static/scms/dist/img/help/file.jpg"/>
    	</div>
    	<div class="h2s">
    		<h4><span class="glyphicon glyphicon-ok" style="color: red;"></span> 完成以上三部开始使用吧</h4>
    	</div>
    	
    	<div class="col-md-12 h2s">
    		<img src="/static/scms/dist/img/help/cmd.jpg"/>
    		<img src="/static/scms/dist/img/help/tuisong.jpg"/>
    	</div>
    </div>
    <div class="col-md-12 h2s">
    		<button type="button" class="btn btn-primary"><a href="javascript:window.opener=null;window.open('','_self');window.close();" style="color: red;">关闭帮助页</a></button>
    	</div>

</body>

</html>
