{% extends 'scms/base.html' %}
{% block link %}
    <link href="/static/scms/dist/css/nginxts.css" rel="stylesheet" type="text/css">
    <link href="/static/scms/dist/css/multi-select.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-12">
     <div id="zhuangtai2" class="alert alert-dismissible" role="alert" style="display: none">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
      <strong id="mess" ></strong>
     </div>
     <div class="ibox float-e-margins" id="all">
      <div class="ibox-title shezhiye">
       <h3> playbook执行页</h3>
       <h5> *创建playbook或roles执行任务</h5>
      </div>
     </div>
    </div>
    <div class="biaoqianye">
     <!-- Tab panes -->
     <div class="tab-content">
      <div role="tabpanel">
       <div class="col-lg-12">
        <div class="col-lg-2  pull-left">
        </div>
        <div class="col-lg-4 pull-left selecteds ">
         <form class="form-horizontal" enctype="multipart/form-data" method="post" id="fromroles" name="fileForm">
          {% csrf_token %}
          <div class="kuangkuang">
           <div class="spans">
            <span class="spans">请选择要执行的playbook：</span>
           </div>
           <select name="playbook" class="form-control">
               {% for item in contacts %}
                   <option value="{{ item.id }}">{{ item.description }}-{{ item.name }}</option>
               {% endfor %}
           </select>
          </div>
          <div class="kuangkuang">
           <div class="spans">
            <span class="spans">请输入执行脚本名称:</span>
           </div>
           <input id="textrarval" class="form-control"  name="p_name" placeholder="请输入上传压缩包中的执行脚本名称，如start.yml" />
          </div>
         <div class="kuangkuang">
            <div class="spans">
               <label>
                    <input type="checkbox" name="mark" value="True" >
                    <span class="spans">是否有独立inventory？</span>
               </label>
           </div>
          </div>
         </form>
         <button id="returns" type="submit" disabled="disabled"  class="btn btn-primary pull-right" value="submit" onclick="subimtBtn();">提交任务</button>
        </div>
        <div class="col-lg-4  pull-right">
         <div class="helpme">
          <div class="alert alert-info" role="alert">
           <span class="glyphicon glyphicon-alert"> 请慎重执行，命令格式请遵循ansible语法！ </span>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
{% endblock %}


{% block javascript %}
<script src="/static/scms/dist/js/jquery.cookie.js"></script>
<script src="/static/scms/dist/js/jquery.form.js"></script>
<script src="/static/scms/dist/js/roles.js"></script>
{% endblock %}