{% extends 'loghunter/base.html' %}
{% block link %}
    <link rel="stylesheet" href="/static/dist/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block body %}
<div class="modal fade " tabindex="-1" id="myModaledit" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content" style="text-align: center;">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">tomcat版本</h4>
      </div>
        <div class="modal-body">
            <div class="row">
          <div class="col-md-12 ">
              <table class="table table-striped" id="table-result">
            <thead>

            </thead>
            <tbody id="tbody-result">
            </tbody>
        </table>
          </div>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器软件版本展示</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>机器IP</th>
                  <th>内核版本</th>
                  <th>nginx版本</th>
                  <th>tomcat版本</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
{% endblock %}
{% block javascript %}
    <script src="/static/dist/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/dist/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
    $('#example2').DataTable( {
        "ajax": "{% url 'getsoft' %}",
        "paging": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "scrollX": true,
        "pagingType": "full_numbers",
        "stateSave": true,
        "columns": [

            { "data": "name" ,"sClass": "text-center"},
            { "data": "Kernel" ,"sClass": "text-center"},
            { "data": "nginx" ,"sClass": "text-center"},
            { "data": "name" ,"sClass": "text-center"}
        ],
        "columnDefs": [
        {
          targets: 3 ,//targets last column, use 0 for first column
          className: 'btn-link pointer',
         "data": "download_link",
            "sClass": "text-center",
         "render": function ( data, type, full, meta ) {
          return '<a class="btn-link" href="#" onclick="edit_users(\''+data+'\')">'+ '点击查看' +'</a>';
          }
        }
      ]
    } );
} );
</script>
        <script type="text/javascript">
			$(document).ready(function(){
                $('#userul').addClass("menu-open");
				$('#page').addClass("active");
				$('#userli').addClass("active");
		});
    </script>
    <script>
function edit_users(id) {
    var tbody=window.document.getElementById("tbody-result");
        $.ajax({
			url:'/loghunter/gettomcat/',
			type:'GET',
			data:{modify:id},
			success:function (arg) {
                var obj = jQuery.parseJSON(arg);
                var str = "";
                if (obj.length > 0){
                for (i in obj) {
                        str += "<tr>" +

                        "<td>" + obj[i].fields.tomcat + "</td>" +
                        "</tr>";
                    }
                    tbody.innerHTML = str;
                $('#myModaledit').modal({show:true});
                    }else{
                    str += "<tr>" +
                        "<td>" + '无数据' + "</td>" +
                        "<td>" + '无数据' + "</td>" +
                        "</tr>";

                    tbody.innerHTML = str;
                    $('#myModaledit').modal({show:true});
                }
			},
			error:function () {
				console.log('failed');
			}
		});
	};
	</script>
{% endblock %}