<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block titel %}ACLSM | 跳板机系统{% endblock %}</title>
  <meta name="keywords" content="index" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/dist/img/icon.png" />
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/jump/css/amazeui.min.css" />
  <link rel="stylesheet" href="/static/jump/css/amazeui.datatables.min.css" />
 <link rel="stylesheet" href="/static/jump/css/app.css">
 </head>
 <body data-type="index" class="theme-white">
   {% block link %}{% endblock %}
  <div class="am-g tpl-g">
   <!-- 头部 -->
   <header>
    <!-- logo -->
    <div class="am-fl tpl-header-logo">
     <a href="/jump/index/"><img src="/static/jump/img/logo.png" alt="" /></a>
    </div>
    <!-- 右侧内容 -->
    <div class="tpl-header-fluid">
     <!-- 侧边切换 -->
     <div class="am-fl tpl-header-switch-button am-icon-list">
      <span> </span>
     </div>
    </div>
   </header>
   <!-- 风格切换 -->
   <div class="tpl-skiner">
    <div class="tpl-skiner-toggle am-icon-cog">
    </div>
    <div class="tpl-skiner-content">
     <div class="tpl-skiner-content-title">
       选择主题
     </div>
     <div class="tpl-skiner-content-bar">
      <span class="skiner-color skiner-white" data-color="theme-white"></span>
      <span class="skiner-color skiner-black" data-color="theme-black"></span>
     </div>
    </div>
   </div>
   <!-- 侧边导航栏 -->
   <div class="left-sidebar">
    <!-- 用户信息 -->
    <!-- 菜单 -->
    <ul class="sidebar-nav">
{#     <li class="sidebar-nav-heading">menu <span class="sidebar-nav-heading-info"> 附加组件</span></li>#}
     <li class="sidebar-nav-link"> <a href="/jump/index/" class="active"> <i class="am-icon-home sidebar-nav-link-logo"></i> 首页 </a> </li>
     <li class="sidebar-nav-link"> <a href="tables.html"> <i class="am-icon-table sidebar-nav-link-logo"></i> 表格 </a> </li>
     <li class="sidebar-nav-link"> <a href="calendar.html"> <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历 </a> </li>
     <li class="sidebar-nav-link"> <a href="form.html"> <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单 </a> </li>
     <li class="sidebar-nav-link"> <a href="chart.html"> <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表 </a> </li>
     <li class="sidebar-nav-link"> <a href="/index/"> <i class="am-icon-reply sidebar-nav-link-logo"></i> 返回首页 </a> </li>
     <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
     <li class="sidebar-nav-link"> <a href="javascript:;" class="sidebar-nav-sub-title"> <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表 <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span> </a>
      <ul class="sidebar-nav sidebar-nav-sub">
       <li class="sidebar-nav-link"> <a href="table-list.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表 </a> </li>
       <li class="sidebar-nav-link"> <a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表 </a> </li>
      </ul>
     </li>
     <li class="sidebar-nav-link"> <a href="sign-up.html"> <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册 <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span> </a> </li>
     <li class="sidebar-nav-link"> <a href="login.html"> <i class="am-icon-key sidebar-nav-link-logo"></i> 登录 </a> </li>
     <li class="sidebar-nav-link"> <a href="404.html"> <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误 </a> </li>
    </ul>
   </div>
   <!-- 内容区域 -->
   <div class="tpl-content-wrapper">
     {% block body %}{% endblock %}
   <button id="scroll-top" class="btn in"><i class="am-gotop-icon am-icon-chevron-up"></i></button>
   </div>
   <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-miscs ">
      <strong>aclsm &copy; 2017 <a href="https://gitee.com/weihaoxuan/Aclsm" target="_blank">github</a>.</strong> 版权所有.
    </div>
  </footer>
  </div>
  <script src="/static/jump/js/jquery.min.js"></script>
  <script src="/static/jump/js/amazeui.min.js"></script>
  <script src="/static/jump/js/amazeui.datatables.min.js"></script>
  <script src="/static/jump/js/dataTables.responsive.min.js"></script>
   <script src="/static/jump/js/app.js"></script>
   {% block javascript %}{% endblock %}
 </body>
</html>