{% extends 'jump/base.html' %}

{% block body %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div id="containerd" ></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#indexs').addClass("active");
    });
    </script>
    <script src="/static/dist/js/highcharts.js"></script>
    <script>
		$(function () {
    $('#containerd').highcharts({

        chart: {
            type: 'bar'
        },
        title: {
            text: '系统整体情况概览图'
        },
        subtitle: {
            text: 'form：数据来源于数据库'
        },

        xAxis: {
            categories: ['远程账户数量', '分组数量', '已分配用户数']
        },
        yAxis: {
            min: 0,
            title: {
                text: '数量'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f} 个</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            series: {
                colorByPoint: true
            }
        },

        series: [{
        	name:'数量',

            data: [{{ containerd.user }},{{ containerd.group }},{{ containerd.prem }}]
        }]
    });
});
	</script>
{% endblock %}