{% extends 'jump/base.html' %}
{% block link %}
    <link rel="stylesheet" href="/static/dist/datatables/dataTables.bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/dist/section/css/styles.css">
    <link href="/static/scms/vendor/bootstrap/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/static/scms/dist/css/multi-select.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<section class="content">
{% if devlist == '' %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>抱歉!</strong> 您未绑定任何主机，且没有访问权限，请联系管理员.
</div>
{% endif %}
  <div class="row">
    <div class="col-xs-12">
        <h3 class="box-title">机器列表</h3>
      <div class="box">
        <div class="box-header">
{#            <a href="#myModal2" style="margin-left: 2px;float: right;" class="btn btn-sm btn-info " data-toggle="modal" data-placement="bottom"><span class="glyphicon glyphicon-plus"></span> 权限绑定 </a>#}
        </div>
        <div class="box-body">
          <table id="example" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th class="text-center">服务器ip</th>
              <th class="text-center">链接账户</th>
              <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in devlist %}
            <tr>
            <td class="text-center" id="username{{ i|cut:"."  }}">{{ i }}</td>
            <td class="text-center"><span class="badge btn-info" id="group{{ i|cut:"." }}">{{ group }}</span></td>
            <td class="text-center">
                <button  type="button" class="btn btn-xs btn-warning" onclick="link_prem({{ i|cut:"."  }})">链接</button>
            </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block javascript %}
    <script src="/static/dist/js/jquery.cookie.js"></script>
    <script src="/static/dist/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/dist/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/scms/vendor/bootstrap/js/bootstrapValidator.min.js"></script>
    <script src="/static/scms/dist/js/jquery.multi-select.js"></script>
    <script src="/static/scms/dist/js/jquery.quicksearch.js"></script>
    <script src="/static/jump/js/lists.js"></script>
{% endblock %}